$footerBG : #2F363E !default;
$font-color:#A9ACB0 !default;
$font-color-hover:#E18E60 !default;
footer{
	color:#FFF;
	background: $footerBG;
	.callout{
		background:$footerBG;
		&.secondary{
			background:$footerBG;
		}
	}
	h5{
		color:#FFF;
	}
	a{
		color:$font-color;
	}
	a:hover{
		color:$font-color-hover;
	}
	&>div.row{
		padding:1em;
	}
}