@import 'mixins/overlay.scss';
@import 'mixins/clearfixed.scss';


.household-banner{
	background: #FFF url(/assets/img/home/home_1.jpg) center 30% repeat-x;
  position: relative;
  padding: 8.5rem 0 10.5rem;
  text-align: center;
  overflow: visible;
  h1{
  	color:#FFF;
  	line-height: 1.5;
  }
  h3{
  	color:#FFF;
  	letter-spacing:0.1em;
  	line-height: 1.5;
  }
  
}
.household-leshi-tv{
  padding:5rem 0;
}
