@import 'mixins/overlay.scss';
@import 'mixins/clearfixed.scss';
$borderLine:#B2E2F7 !default;
.index-banner{
	background: #074E68 url(/assets/img/im__banner_home.jpg) center 30% repeat-x;
  //background: #074E68 center 30% repeat-x;
  position: relative;
  padding: 8.5rem 0 10.5rem;
  text-align: center;
  overflow: visible;
  h1{
  	color:#FFF;
  	line-height: 2.5;
  }
  h3{
  	color:#28E7F4;
  	letter-spacing:0.5em;
  	line-height: 2.5;
  }
  #particles-js{
    @include overlay();
  }
}

.close-loop{
  @include clearfix();
  & .row{
    position:relative;
  }
  .ai-item{
    height:9rem;
    border:1px solid $borderLine;
    display:inline-block;
    float:left;
    margin-bottom:3rem;
    position:relative;
    z-index:9;
    background:#FFF url(/assets/img/ai.png) no-repeat;
    .ai-title{
      position:absolute;
      bottom:0;
      left:0;
      width:100%;
      text-align:center;
      margin-bottom:0;
      line-height:2em;
    }
    &.one{
      width:100%;
      background-position:-36px -44px;
    }
    &.two{
      width:50%;
      &.brain{
        background-position:-186px -44px;
      }
      &.people{
        background-position:-338px -44px;
      }
    }
    &.three{
      width:33.3333333333%;
      &.study{
        background-position:-338px -44px;
      }
      &.cloud{
        background-position:-338px -44px;
      }
      &.da{
        background-position:-338px -44px;
      }
    }
  }
  .loop-line{
    position:absolute;
    z-index:1;
    width:30%;
    height:24rem;
    right:0;
    top:4.5rem;
    left:50%;
    outline: 2px dashed #E0E4CC;
    box-shadow: 0 0 0 2px #69D2E7;
    animation: 2s animateBorderThree ease infinite;
  }
  @keyframes animateBorderThree {
  to {
    outline-color: #69D2E7;
    box-shadow: 0 0 0 2px #E0E4CC;
  }
}
}