@import 'mixins/overlay.scss';
@import 'mixins/clearfixed.scss';
.kar-banner1{
	background: #333 url(/assets/img/kar/kar_1.jpg) center 30% repeat-x;
  //background: #074E68 center 30% repeat-x;
  background-size:cover;
  position: relative;
  padding: 34rem 0 14.5rem;
  text-align: center;
  overflow: visible;
  margin-top:-50px;
  h1{
  	color:#FFF;
  	text-align:left;
  }
  .sub-title{
    color:#FFF;
    text-align:left;
    font-size: 1.5rem;
  }
  .mask{
    @include overlay();
    //background:rgba(242, 163, 170,0.6);
    padding-top:17rem;

  }
}
.car-description{
  p{
    color:#999;
  }
}
.kar-banner2{
  background: #333 url(/assets/img/kar/kar_2.jpg) center 30% repeat-x;
  position: relative;
  padding: 30.5rem 0 14.5rem;
  text-align: center;
  overflow: visible;
  color: #fff;
  .mask{
    @include overlay();
    //background:RGBA(35, 156, 198, .6);
    padding-top:10rem;
  }
  h1{
    color:#FFF;
    text-align:center;
  }
}
.unitoy-content{
  padding:0 0 0 1rem;
  text-align:center;
  .sub-title{
    margin-bottom:1rem;
  }
  p{
    margin-bottom:0;
    line-height: 2rem;
    color: #777;
  }
}
.kar-banner3{
  background: #FED183 url(/assets/img/kar/yellow_bg.jpg) center 30% repeat-x;
  color: #fff;
  img{
    padding:10% 30% 30% 30%;
  }
  .orbit-slide{
    background:#FFF;
  }
  .orbit-caption{
    background:rgba(255,255,255,.0);
    color:#777;
    text-align:center;
    height: 9em;
    width: 100%;
  }
  .orbit-previous,.orbit-next{
    color:#FED183;
  }
}

.orbit-bullets button {
  width: 2.2rem;
  height: 0.2rem;
  margin: 0.1rem;
  background-color: #cacaca;
  border-radius: 0%;
}