@import 'mixins/overlay.scss';
@import 'mixins/clearfixed.scss';


.smart-home-banner{
  .bingxiang-chat{
    background:#67DDC5;
    padding:1rem;
    color:#FFF;
    border-radius:10px;
  }
  @include breakpoint(small only) {
    &.top-full-screen .content{
      top:1%;
    }
  }
}
.special-letter{
  color:#EB8828;
}
.ai-feature{
  background:#2E2F3F;
  padding:3em 0 8em 0;
  margin:2rem 0;
  color:#FFF;
  .item{
    padding:1rem;
    position:relative;
    & > div{
      padding:1.5rem;
      border:1px solid #454656;
      height:20rem;
    }
    small{
      color:#ACB0B3;
    }
    p{
      font-size: 1.125rem;
    }
    p.des{
      position: absolute;
      left: 9%;
      bottom: 1.5em;
      width: 82%;
      height:4rem;
      font-size: 0.875rem;
    }
    @include breakpoint(small only) {
      p.des{
        height:5rem;
      }
    }
  }
}
.home-advantage{
  background: #FFF url(/assets/img/home/home_gradual.png) center 30% repeat-x;
  padding:2rem 0;
  margin-top:6rem;
  .orbit-previous, .orbit-next{
    top:50%;
  }
  @include breakpoint(small only) {
   .orbit-previous, .orbit-next{
      top:23%;
    }
  }
  .columns{
    text-align:center;
  }
  p{
    text-align:center;
    color:#808182;
  }
  .orbit-container{
    height:24rem !important;
    li{
      height:24rem !important;
    }
  }
  .orbit-caption{
    background: none;
  }
}
.uhome-application-product{
  background:#FFF !important;
}
.home-dianxinganli{
  background:#F7F8F9;
  padding:5rem 0;
  .item{
    text-align:center;
    position:relative;
    .number{
      position:absolute;
      top:0;
      left:0;
      color:#EB8828;
      font-size:1.875em;
    }
    .content{
      padding:0 20%;
      text-align: left;
    }
    .title{
      color:lighten(#333435,30%);
      font-size:1.875em;
      line-height: 4.875rem;
    }
    .des{
      color:lighten(#333435,50%);
      font-size:1.125em;
    }
  }
  .item .img:hover{
    span.number{
      -webkit-animation: jump 1.5s ease 0s 1 normal ;
      animation: jump 1.5s ease 0s 1 normal ;
    }  
  }
  

  @-webkit-keyframes jump {
    0%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    20%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    40%{
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    }
    50%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    60%{
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    }
    80%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
  }

  @keyframes jump {
    0%{
    transform: translateY(0);
    }
    20%{
    transform: translateY(0);
    }
    40%{
    transform: translateY(-30px);
    }
    50%{
    transform: translateY(0);
    }
    60%{
    transform: translateY(-15px);
    }
    80%{
    transform: translateY(0);
    }
    100%{
    transform: translateY(0);
    }
  }
}
.home-hezuohuoban{
  margin-bottom:4rem;
}
.home-advantage-adjust{
  margin-top:7rem;
  padding:3rem 0 4rem 0;
  background:#302F3F;
  color:#fff;
  .text-color{
    color:#E0E4E5;
  }
  .box{
    margin-top:4rem;
    margin-bottom:4rem;
    img{
      max-width:150px;
    }
    .title{
      height:4em;
    }
    /*.sub-title{
      color:#E0E4E5;
    }*/
    hr{
      border-color:#434454;
      margin:4rem 0;
    }
    p{
      font-size: 1.125rem;
    }
  }
  .text-gray{
    color:#81838F;
  }
}


