@import 'mixins/overlay.scss';
@import 'mixins/clearfixed.scss';
.smart-car-banner{
	background: #333 url(/assets/img/im__banner_chezai.jpg) center 30% repeat-x;
  //background: #074E68 center 30% repeat-x;
  position: relative;
  padding: 12.5rem 0 14.5rem;
  text-align: center;
  overflow: visible;
  h1{
  	color:#FFF;
  	text-align:left;
  }
}
.car-description{
  p{
    color:#999;
  }
}
