@import 'mixins/overlay.scss';
@import 'mixins/clearfixed.scss';
.smart-home-banner{
	background: #FFF url(/assets/img/home/home_1.jpg) center 30% repeat-x;
  //background: #074E68 center 30% repeat-x;
  position: relative;
  padding: 8.5rem 0 10.5rem;
  text-align: center;
  overflow: visible;
  h1{
  	color:#FFF;
  	line-height: 2.5;
  }
  h3{
  	color:#28E7F4;
  	letter-spacing:0.5em;
  	line-height: 2.5;
  }
}