@import 'mixins/overlay.scss';
@import 'mixins/clearfixed.scss';


.smart-home-banner{
	background: #FFF url(/assets/img/home/home_1.jpg) center 30% repeat-x;
  //background: #074E68 center 30% repeat-x;
  position: relative;
  padding: 8.5rem 0 10.5rem;
  text-align: center;
  overflow: visible;
  h1{
  	color:#FFF;
  	line-height: 1.5;
  }
  h3{
  	color:#FFF;
  	letter-spacing:0.1em;
  	line-height: 1.5;
  }
  .bingxiang-chat{
    background:#67DDC5;
    padding:1rem;
    color:#FFF;
    border-radius:10px;
  }
}
.special-letter{
  color:#EB8828;
}
.ai-feature{
  background:#2E2F3F;
  padding:6rem 0;
  margin:2rem 0;
  color:#FFF;
  .item{
    padding:1rem;
    position:relative;
    & > div{
      padding:0.5rem;
      border:1px solid #454656;
      height:20rem;
    }
    small{
      color:#ACB0B3;
    }
    p.des{
      position: absolute;
      left: 9%;
      bottom: 0.5rem;
      width: 82%;
    }
  }
}
.home-advantage{
  background: #FFF url(/assets/img/home/home_gradual.png) center 30% repeat-x;
  padding:2rem 0;
  .columns{
    text-align:center;
  }
  p{
    text-align:center;
    color:#808182;
  }
  .orbit-container{
    height:20rem !important;
    li{
      height:20rem !important;
    }
  }
  .orbit-caption{
    background: none;
  }
}
.home-dianxinganli{
  background:#F7F8F9;
  padding:3rem 0;
  .item{
    text-align:center;
    position:relative;
    .number{
      position:absolute;
      top:0;
      left:0;
      color:#EB8828;
      font-size:2.4em;
    }
    .title{
      text-align:left;
      color:lighten(#333435,30%);
      padding:1rem 2rem;
    }
    .des{
      text-align:left;
      color:lighten(#333435,50%);
      padding:0.5rem 2rem;
    }
  }
}