.usc{
  .top-img{
    margin-top:-50px;
    background-size: cover;
    position: relative;
    .dev-link{
      position: absolute;
      bottom:20%;
      width:100%;
      text-align: center;
      .button{
        color: #fff;
        border-color: #fff;
      }
    }
  }
  .screen-item{
    padding:3rem 0;
    &:nth-child(odd){
      background: #f8f8f8;
    }
  }
}



@media #{$small-only} {
  .usc{
    .top-img{
      margin-top:0;
    }
    .intro-text{
      text-align: center;
    }
  }
  .dev-link{
    display: none;
  }
}