.usc{
  .top-img{
    margin-top:-50px;
    background-size: cover;
    position: relative;
    .dev-link{
      position: absolute;
      bottom:20%;
      width:100%;
      text-align: center;
      .button{
        color: #fff;
        border-color: #fff;
      }
    }
  }
}


/**/
.content-1-img{
  left: 34.8%;
  position: absolute;
  top: -20px;
}

.content-1-bg{
  left: 115px;
  position: absolute;
  top: -120px;
}

.content-btn{
  left: 44.9%;
  position: relative;
  top: 270px;
}

.content-2-img{
  /* position: relative; */
  top: 200px;
  width: 100%;
}

.introduce-content-2{
  left: 595px;
  position: relative;
  top: -430px;
  width: 380px;
}

.introduce-content h3{
  color: #000;
  font-size: 30px;
  font-weight: bold;
}

.introduce-content p{
  color: #777777;
  font-size: 14px;
  line-height: 18px;
  margin-top: 2px;
}

.shade-border{
  height: 95px;
  width: 291px;
  margin-top: -95px;
}

.shade{
  background-color: #141707;
  height: 76px;
  left: 230px;
  position: relative;
  top: -350px;
  width: 234px;
  animation:myShade infinite 3s linear;
  -moz-animation:myShade infinite 3s linear;  /*Firefox*/
  -webkit-animation:myShade infinite 3s linear;  /*Safari and Chrome*/
  -o-animation:myShade infinite 3s linear;  /*Opera*/
}

@keyframes myShade
{
  from {height:76px;top:-350px;}
  to {height:0px;top:-274px;}
}

@-moz-keyframes myShade /* Firefox */
{
  from {height:76px;top:-350px;}
  to {height:0px;top:-274px;}
}

@-webkit-keyframes myShade /* Safari and Chrome */
{
  from {height:76px;top:-350px;}
  to {height:0px;top:-274px;}
}

@-o-keyframes myShade /* Opera */
{
  from {height:76px;top:-350px;}
  to {height:0px;top:-274px;}
}

.content-ExpBtn-voice{
  left: 595px;
  position: relative;
  top: -430px;
}

.content-3-img{
  /* position: relative; */
  top: 200px;
  width: 100%;
  z-index: 1000;
}

.introduce-content-3{
  left: 150px;
  position: relative;
  top: -700px;
  width: 400px;
}

.content-3-left{
  left: 481px;
  position: relative;
  top: -505px;
  z-index: 1001;
  opacity: 1;
  animation:myDisappear-left infinite 8s 1s linear;
  -moz-animation:myDisappear-left infinite 8s 1s linear;  /*Firefox*/
  -webkit-animation:myDisappear-left infinite 8s 1s linear;  /*Safari and Chrome*/
  -o-animation:myDisappear-left infinite 8s 1s linear;  /*Opera*/
}

@keyframes myDisappear-left
{
  0%,50%,100%{opacity: 1;}
  25%,75%{opacity: 0;}
}

@-moz-keyframes myDisappear-left /* Firefox */
{
  0%,50%,100%{opacity: 1;}
  25%,75%{opacity: 0;}
}

@-webkit-keyframes myDisappear-left /* Safari and Chrome */
{
  0%,50%,100%{opacity: 1;}
  25%,75%{opacity: 0;}
}

@-o-keyframes myDisappear-left /* Opera */
{
  0%,50%,100%{opacity: 1;}
  25%,75%{opacity: 0;}
}

.content-3-right{
  left: -10px;
  position: relative;
  top: -450px;
  z-index: 999;
  opacity: 1;
  animation:myDisappear-right infinite 8s linear;
  -moz-animation:myDisappear-right infinite 8s linear;  /*Firefox*/
  -webkit-animation:myDisappear-right infinite 8s linear;  /*Safari and Chrome*/
  -o-animation:myDisappear-right infinite 8s linear;  /*Opera*/
}

@keyframes myDisappear-right
{
  0%,50%,100%{opacity: 1;}
  25%,75%{opacity: 0;}
}

@-moz-keyframes myDisappear-right /* Firefox */
{
  0%,50%,100%{opacity: 1;}
  25%,75%{opacity: 0;}
}

@-webkit-keyframes myDisappear-right /* Safari and Chrome */
{
  0%,50%,100%{opacity: 1;}
  25%,75%{opacity: 0;}
}

@-o-keyframes myDisappear-right /* Opera */
{
  0%,50%,100%{opacity: 1;}
  25%,75%{opacity: 0;}
}

.content-ExpBtn-semantic{
  left: 148px;
  position: relative;
  top: -700px;
  z-index: 1002;
}

.content-4-img{
  /* position: relative; */
  top: 200px;
  width: 100%;
  z-index: 1000;
}

.introduce-content-4{
  left: 575px;
  position: relative;
  top: -600px;
  width: 350px;
}

.content-ExpBtn-compound{
  left: 575px;
  position: relative;
  top: -600px;
  z-index: 1002;
}

.content-4-star{
  left: 37px;
  position: relative;
  top: -228px;
  animation:myStat infinite 3s linear;
  -moz-animation:myStat infinite 3s linear;  /*Firefox*/
  -webkit-animation:myStat infinite 3s linear;  /*Safari and Chrome*/
  -o-animation:myStat infinite 3s linear;  /*Opera*/
}

@keyframes myStat
{
  0%,50%,100%{opacity: 1;}
  25%,75%{opacity: 0;}
}

@-moz-keyframes myStat /* Firefox */
{
  0%,50%,100%{opacity: 1;}
  25%,75%{opacity: 0;}
}

@-webkit-keyframes myStat /* Safari and Chrome */
{
  0%,50%,100%{opacity: 1;}
  25%,75%{opacity: 0;}
}

@-o-keyframes myStat /* Opera */
{
  0%,50%,100%{opacity: 1;}
  25%,75%{opacity: 0;}
}

.content-4-circle{
  left: -236px;
  position: relative;
  top: -450px;
  z-index: 1001;
  animation:myCircle infinite 3s linear;
  -moz-animation:myCircle infinite 3s linear;  /*Firefox*/
  -webkit-animation:myCircle infinite 3s linear;  /*Safari and Chrome*/
  -o-animation:myCircle infinite 3s linear;  /*Opera*/
}

@-moz-keyframes myCircle {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes myCircle {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-o-keyframes myCircle {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); }
}
@-ms-keyframes myCircle {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); }
}
@keyframes myCircle {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.content-5-img{
  /* position: relative; */
  top: 200px;
  width: 100%;
  z-index: 1000;
}

.introduce-content-5{
  left: 165px;
  position: relative;
  top: -350px;
  width: 220px;
}

.content-5-headAndEyes{
  height: 113px;
  left: 647px;
  position: relative;
  top: -365px;
  width: 135px;
  z-index: 1001;
  animation:myHead infinite 1s linear alternate;
  -moz-animation:myHead infinite 1s linear alternate;  /*Firefox*/
  -webkit-animation:myHead infinite 1s linear alternate;  /*Safari and Chrome*/
  -o-animation:myHead infinite 1s linear alternate;  /*Opera*/
  -ms-animation:myHead infinite 1s linear alternate;  /*IE*/
}

@-webkit-keyframes myHead{
  0%,100%{-webkit-transform-origin:bottom center}
  0%{-webkit-transform:rotate(8deg)}
  100%{-webkit-transform:rotate(-5deg)}
}
@-moz-keyframes myHead{
  0%,100%{-moz-transform-origin:bottom center}
  0%{-moz-transform:rotate(8deg)}
  100%{-moz-transform:rotate(-5deg)}
}
@-o-keyframes myHead {
  0%,100%{-o-transform-origin:bottom center}
  0%{-o-transform:rotate(8deg)}
  100%{-o-transform:rotate(-5deg)}
}
@-ms-keyframes myHead {
  0%,100%{-ms-transform-origin:bottom center}
  0%{-ms-transform:rotate(8deg)}
  100%{-ms-transform:rotate(-5deg)}
}
@keyframes myHead {
  0%,100%{transform-origin:bottom center}
  0%{transform:rotate(8deg)}
  100%{transform:rotate(-5deg)}
}

.content-5-head{
  position: absolute;
}

.content-5-eyes{
  left: 28px;
  position: absolute;
  top: 50px;
  animation:myEyes infinite 5s 0.5s ease-in-out;
  -moz-animation:myEyes infinite 5s 0.5s ease-in-out;  /*Firefox*/
  -webkit-animation:myEyes infinite 5s 0.5s ease-in-out;  /*Safari and Chrome*/
  -o-animation:myEyes infinite 5s 0.5s ease-in-out;  /*Opera*/
  -ms-animation:myEyes infinite 5s 0.5s ease-in-out;  /*IE*/
}

@keyframes myEyes
{
  0%,50%,100%{opacity: 1;}
  25%,75%{opacity: 0;}
}
@-moz-keyframes myEyes /* Firefox */
{
  0%,50%,100%{opacity: 1;}
  25%,75%{opacity: 0;}
}
@-webkit-keyframes myEyes /* Safari and Chrome */
{
  0%,50%,100%{opacity: 1;}
  25%,75%{opacity: 0;}
}
@-o-keyframes myEyes /* Opera */
{
  0%,50%,100%{opacity: 1;}
  25%,75%{opacity: 0;}
}

.content-ExpBtn-awaken{
  left: 165px;
  position: relative;
  top: -350px;
  z-index: 1002;
}

.content-6-img{
  /* position: relative; */
  top: 200px;
  width: 100%;
  z-index: 1000;
}

.introduce-content-6{
  left: 585px;
  position: relative;
  top: -500px;
  width: 400px;
}

.conten-6-key{
  left: 277px;
  position: relative;
  top: -360px;
  z-index: 1001;
  animation:myKey infinite 1s ease-in-out alternate;
  -moz-animation:myKey infinite 1s ease-in-out alternate;  /*Firefox*/
  -webkit-animation:myKey infinite 1s ease-in-out alternate;  /*Safari and Chrome*/
  -o-animation:myKey infinite 1s ease-in-out alternate;  /*Opera*/
  -ms-animation:myKey infinite 1s ease-in-out alternate;  /*IE*/
}

@keyframes myKey
{
  0%,100%{transform-origin:top center}
  0%{transform:rotate(10deg)}
  100%{transform:rotate(-10deg)}
}
@-ms-keyframes myKey
{
  0%,100%{-ms-transform-origin:top center}
  0%{-ms-transform:rotate(10deg)}
  100%{-ms-transform:rotate(-10deg)}
}
@-moz-keyframes myKey /* Firefox */
{
  0%,100%{-moz-transform-origin:top center}
  0%{-moz-transform:rotate(10deg)}
  100%{-moz-transform:rotate(-10deg)}
}
@-webkit-keyframes myKey /* Safari and Chrome */
{
  0%,100%{-webkit-transform-origin:top center}
  0%{-webkit-transform:rotate(10deg)}
  100%{-webkit-transform:rotate(-10deg)}
}
@-o-keyframes myKey /* Opera */
{
  0%,100%{-o-transform-origin:top center}
  0%{-o-transform:rotate(10deg)}
  100%{-o-transform:rotate(-10deg)}
}

.content-ExpBtn-voiceprint{
  left: 585px;
  position: relative;
  top: -500px;
  z-index: 1002;
}

.content-7-img{
  /* position: relative; */
  top: 200px;
  width: 100%;
  z-index: 1000;
}

.content-ExpBtn-offLine{
  left: 150px;
  position: relative;
  top: -400px;
  z-index: 1002;
}

.introduce-content-7{
  left: 150px;
  position: relative;
  top: -400px;
  width: 300px;
}

.content-7-left{
  left: 495px;
  position: relative;
  top: -190px;
  z-index: 999;
  animation:myCloudLeft infinite 2s ease-in-out alternate;
  -moz-animation:myCloudLeft infinite 2s ease-in-out alternate;  /*Firefox*/
  -webkit-animation:myCloudLeft infinite 2s ease-in-out alternate;  /*Safari and Chrome*/
  -o-animation:myCloudLeft infinite 2s ease-in-out alternate;  /*Opera*/
  -ms-animation:myCloudLeft infinite 2s ease-in-out alternate;  /*IE*/
}

@keyframes myCloudLeft
{
  0%{left: 480px;}
  100%{left: 510px;}
}
@-moz-keyframes myCloudLeft /* Firefox */
{
  0%{left: 480px;}
  100%{left: 510px;}
}
@-webkit-keyframes myCloudLeft /* Safari and Chrome */
{
  0%{left: 480px;}
  100%{left: 510px;}
}
@-ms-keyframes myCloudLeft /* ie */
{
  0%{left: 480px;}
  100%{left: 510px;}
}
@-o-keyframes myCloudLeft /* Opera */
{
  0%{left: 480px;}
  100%{left: 510px;}
}

.content-7-rightTop{
  left: 630px;
  position: relative;
  top: -185px;
  z-index: 1001;
  animation:myCloudTop infinite 3s ease-in-out alternate;
  -moz-animation:myCloudTop infinite 3s ease-in-out alternate;  /*Firefox*/
  -webkit-animation:myCloudTop infinite 3s ease-in-out alternate;  /*Safari and Chrome*/
  -o-animation:myCloudTop infinite 3s ease-in-out alternate;  /*Opera*/
  -ms-animation:myCloudTop infinite 3s ease-in-out alternate;  /*IE*/
}

@keyframes myCloudTop
{
  0%{left: 620px;}
  100%{left: 640px;}
}
@-moz-keyframes myCloudTop /* Firefox */
{
  0%{left: 620px;}
  100%{left: 640px;}
}
@-webkit-keyframes myCloudTop /* Safari and Chrome */
{
  0%{left: 620px;}
  100%{left: 640px;}
}
@-ms-keyframes myCloudTop /* ie */
{
  0%{left: 620px;}
  100%{left: 640px;}
}
@-o-keyframes myCloudTop /* Opera */
{
  0%{left: 620px;}
  100%{left: 640px;}
}

.content-7-rightBottom{
  left: 435px;
  position: relative;
  top: -300px;
  z-index: 999;
  animation:myCloudBottom infinite 2s ease-in-out alternate;
  -moz-animation:myCloudBottom infinite 2s ease-in-out alternate;  /*Firefox*/
  -webkit-animation:myCloudBottom infinite 2s ease-in-out alternate;  /*Safari and Chrome*/
  -o-animation:myCloudBottom infinite 2s ease-in-out alternate;  /*Opera*/
  -ms-animation:myCloudBottom infinite 2s ease-in-out alternate;  /*IE*/
}

@keyframes myCloudBottom
{
  0%{left: 450px;}
  100%{left: 420px;}
}
@-moz-keyframes myCloudBottom /* Firefox */
{
  0%{left: 450px;}
  100%{left: 420px;}
}
@-webkit-keyframes myCloudBottom /* Safari and Chrome */
{
  0%{left: 450px;}
  100%{left: 420px;}
}
@-ms-keyframes myCloudBottom /* ie */
{
  0%{left: 450px;}
  100%{left: 420px;}
}
@-o-keyframes myCloudBottom /* Opera */
{
  0%{left: 450px;}
  100%{left: 420px;}
}

.content-7-balloom{
  left: 390px;
  position: relative;
  top: -270px;;
  z-index: 1000;
  animation:myCloudBalloom infinite 2s ease-in-out alternate;
  -moz-animation:myCloudBalloom infinite 2s ease-in-out alternate;  /*Firefox*/
  -webkit-animation:myCloudBalloom infinite 2s ease-in-out alternate;  /*Safari and Chrome*/
  -o-animation:myCloudBalloom infinite 2s ease-in-out alternate;  /*Opera*/
  -ms-animation:myCloudBalloom infinite 2s ease-in-out alternate;  /*IE*/
}

@keyframes myCloudBalloom
{
  0%{top: -290px;}
  100%{top: -250px;}
}
@-moz-keyframes myCloudBalloom /* Firefox */
{
  0%{top: -290px;}
  100%{top: -250px;}
}
@-webkit-keyframes myCloudBalloom /* Safari and Chrome */
{
  0%{top: -290px;}
  100%{top: -250px;}
}
@-ms-keyframes myCloudBalloom /* ie */
{
  0%{top: -290px;}
  100%{top: -250px;}
}
@-o-keyframes myCloudBalloom /* Opera */
{
  0%{top: -290px;}
  100%{top: -250px;}
}
/**/

@media #{$small-only} {
  .usc{
    .top-img{
      margin-top:0;
    }
  }
  .dev-link{
    display: none;
  }
}